/* src/components/Education.css */
.timeline {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 100%;
  background-color: var(--primary-color);
}

.timeline-item {
  position: relative;
  margin-bottom: 50px;
}

.timeline-item:nth-child(odd) .timeline-content {
  left: 0;
  width: 45%;
  text-align: right;
  padding-right: 40px;
}

.timeline-item:nth-child(even) .timeline-content {
  left: 55%;
  width: 45%;
  padding-left: 40px;
}

.timeline-date {
  position: absolute;
  top: 0;
  width: 45%;
  padding: 10px 15px;
  background-color: var(--primary-color);
  color: var(--white);
  border-radius: 5px;
  font-weight: 600;
}

.timeline-item:nth-child(odd) .timeline-date {
  left: 55%;
  text-align: left;
}

.timeline-item:nth-child(even) .timeline-date {
  left: 0;
  text-align: right;
}

.timeline-content {
  position: relative;
  background-color: var(--light-gray);
  padding: 20px;
  border-radius: 10px;
  box-shadow: var(--shadow);
}

.timeline-content h3 {
  margin-bottom: 5px;
  color: var(--primary-color);
}

.timeline-content h4 {
  margin-bottom: 10px;
  color: var(--dark-gray);
}

@media (max-width: 992px) {
  .timeline::before {
    left: 30px;
  }
  
  .timeline-item:nth-child(odd) .timeline-content,
  .timeline-item:nth-child(even) .timeline-content {
    left: 80px;
    width: calc(100% - 80px);
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .timeline-item:nth-child(odd) .timeline-date,
  .timeline-item:nth-child(even) .timeline-date {
    left: 0;
    width: auto;
    text-align: left;
  }
}